<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kino - Reclamações</title>
    <link rel="stylesheet" href="reclamacao_style.css">
    <script src="./js/reclamacao.js"></script>
</head>
<body>


    <header>
        <div class="header-container">
            <div class="logo">
                <span class="kino-logo">Kino</span>
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <nav>
                <a href="#">Home</a>
            </nav>
            <div class="user-icon">
                <i class="fa-regular fa-circle-user"></i>
            </div>
        </div>
    </header>


    <main>
        <h1>Reclamações</h1>
        <form id="complaintForm">
           <label for="nome">*Nome</label>
            <input type="text" id="nome", required placeholder="Introduza o seu nome"autocomplete="off">
            <label for="nome">*Tel</label>
            <input type="text" id="nume", required placeholder="Introduza o seu numero" max="9" autocomplete="off">
            <select name="selecao" id="selecaoReclamacao" required >
                
                <option >Não cumprimento com o tempo de espera no sistema </option>
                <option >Má qualidade nos produtos</option>
                <option >Má atendimento</option>
                <option >Demora na entrega</option>
                <option >outros</option>
            </select>
            <div class="textarea-container">
                <textarea id="message" placeholder="Digite a sua Reclamação..." required></textarea>
                <div class="resize-handle">///</div>
            </div>
            <div class="button-wrapper">
                <button type="submit" id="submitBtn">Enviar</button>
            </div>
        </form>
    </main>


    <footer>
        <div class="footer-left">
            <p>© Kino 2026<br>Todos os direitos reservados.</p>
        </div>
        <div class="footer-right">
            <span>siga-nos</span>
            <div class="social-icons">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>


    <script src="reclamacao.js"></script>
</body>
</html>