<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="pesquisar_pedido.css" />
    <link rel="icon" href="../../../public/kino.svg" />
    <title>Pedidos</title>
  </head>
  <body>
    <div class="menu">
      <!--Aqui esta sendo importada menu-->
    </div>
    <main>
      <header>
        <h3>Rastrear Pedido</h3>
      </header>
      <div class="form-pedido">
        <form id="form-pedido">
          <input type="search" name="pesquisar" id="pesqPeido" />
        </form>
        <div class="progresso">progresso</div>
      </div>
      <div class="resultado">
        <div class="intem-pesquisado">arroz</div>
      </div>
    </main>

    <div class="rodape">
      <!--Aqui esta sendo imporada o footer-->
    </div>

    <script src="pesquisar_pedido.js"></script>
  </body>
</html>
