<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - Kino</title>
    <!-- Estilos globais e específicos da página -->
     <link rel="stylesheet" href="../cadastrarProduto/cadastrarProduto.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="pedidos.css">
    <link rel="icon" href="../../../public/kino.svg">
</head>
<body>
    <!-- Cabeçalho Principal (Menu do Painel) -->
    <!-- Espaços para Menu e Rodapé dinâmicos -->
    <div id="espaco-menu"></div>


    <!-- Conteúdo Principal da Página de Pedidos -->
    <main class="container-pedidos">
        <section class="cabecalho-secao">
            <h1 class="titulo-pagina">Pedidos</h1>
            <div class="caixa-pesquisa">
                <input type="text" placeholder="pesquisar pedido" id="pesquisaPedido">
                <button class="botao-pesquisar">
                    <img src="../../icons/pesquisar.svg" alt="Buscar" style="filter: invert(53%) sepia(87%) saturate(1478%) hue-rotate(345deg) brightness(98%) contrast(92%);">
                </button>
            </div>
        </section>

        <!-- Filtros e Links de Navegação Secundária -->
        <section class="filtros-pedidos">
            <div class="abas">
                <button class="botao-aba ativa" data-filter="todos">Todos</button>
                <button class="botao-aba" data-filter="entrega">Entrega</button>
                <button class="botao-aba" data-filter="restaurante">Restaurante</button>
            </div>
            <a href="#" class="link-historico">Ver Histórico</a>
        </section>

        <!-- Lista de Pedidos em formato de Cartão com Tabela -->
        <section class="cartao-pedidos">
            <h2>Novos pedidos</h2>
            <div class="tabela-responsiva">
                <table id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Tipo</th>
                            <th>Produto</th>
                            <th>Pago</th>
                            <th>Endereço</th>
                            <th>Data</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-type="restaurante">
                            <td class="codigo">K5672INO</td>
                            <td>José Adriano Brito</td>
                            <td>+244 945 689 268</td>
                            <td>Restaurante</td>
                            <td>Hambúrguer</td>
                            <td>3500</td>
                            <td>HBO c. alta</td>
                            <td>1/4/026</td>
                            <td>
                                <div class="dropdown-status">
                                    <button class="botao-status">Por aprovar <span class="seta-cima"></span></button>
                                    <ul class="menu-status">
                                        <li>Aprovar</li>
                                        <li>Preparando</li>
                                        <li>Feito</li>
                                        <li>Rejeitar</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr data-type="entrega">
                            <td class="codigo">K3687INO</td>
                            <td>Yo-Chin Ho</td>
                            <td>+244 923 192 278</td>
                            <td>Entrega</td>
                            <td>Funge</td>
                            <td>2870</td>
                            <td>HBO c. Baixa</td>
                            <td>1/4/026</td>
                            <td>
                                <div class="dropdown-status">
                                    <button class="botao-status">Por aprovar <span class="seta-cima"></span></button>
                                    <ul class="menu-status">
                                        <li>Aprovar</li>
                                        <li>Preparando</li>
                                        <li>Feito</li>
                                        <li>Rejeitar</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr data-type="entrega">
                            <td class="codigo">K6492INO</td>
                            <td>Jackie Chan</td>
                            <td>+244 924 545 668</td>
                            <td>Entrega</td>
                            <td>Sandes</td>
                            <td>1500</td>
                            <td>HBO acad...</td>
                            <td>1/4/026</td>
                            <td>
                                <div class="dropdown-status">
                                    <button class="botao-status">Por aprovar <span class="seta-cima"></span></button>
                                    <ul class="menu-status">
                                        <li>Aprovar</li>
                                        <li>Preparando</li>
                                        <li>Feito</li>
                                        <li>Rejeitar</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr data-type="entrega">
                            <td class="codigo">K5789INO</td>
                            <td>Antonio Chivango</td>
                            <td>+244 975 566 899</td>
                            <td>Entrega</td>
                            <td>Água</td>
                            <td>300</td>
                            <td>HBO sao j...</td>
                            <td>1/4/026</td>
                            <td>
                                <div class="dropdown-status">
                                    <button class="botao-status">Por aprovar <span class="seta-cima"></span></button>
                                    <ul class="menu-status">
                                        <li>Aprovar</li>
                                        <li>Preparando</li>
                                        <li>Feito</li>
                                        <li>Rejeitar</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr data-type="restaurante">
                            <td class="codigo">K3259INO</td>
                            <td>Vianety Jorge</td>
                            <td>+244 914 323 176</td>
                            <td>Restaurante</td>
                            <td>Sumo</td>
                            <td>800</td>
                            <td>HBO rua 5</td>
                            <td>1/4/026</td>
                            <td>
                                <div class="dropdown-status">
                                    <button class="botao-status">Por aprovar <span class="seta-baixo"></span></button>
                                    <ul class="menu-status">
                                        <li>Aprovar</li>
                                        <li>Preparando</li>
                                        <li>Feito</li>
                                        <li>Rejeitar</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <!-- Rodapé com Direitos e Redes Sociais -->
    <div id="espaco-rodape"></div>


    <script src="pedidos.js"></script>
</body>
</html>

